<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupIdentifier</key>
	<string>group.$(CIRRUSCOPE_BASE_BUNDLE_IDENTIFIER)</string>
	<key>MinimumSupportedNextcloudMajorVersion</key>
	<integer>34</integer>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PrivacyPolicy</key>
	<string>$(CIRRUSCOPE_PRIVACY_POLICY_URL)</string>
	<key>SupportURL</key>
	<string>$(CIRRUSCOPE_SUPPORT_URL)</string>
</dict>
</plist>
