// SPDX-FileCopyrightText: 2026 Iva Horn
// SPDX-License-Identifier: MIT

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "../Cirruscope/Cirruscope.xcconfig"

SDKROOT = iphoneos
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
TARGETED_DEVICE_FAMILY = 1,2

#include? "Local.xcconfig"
