// SPDX-FileCopyrightText: 2026 Iva Horn
// SPDX-License-Identifier: MIT

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "../Cirruscope.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(CIRRUSCOPE_BASE_BUNDLE_IDENTIFIER)
PRODUCT_NAME = $(CIRRUSCOPE_BUNDLE_NAME)
PROVISIONING_PROFILE_SPECIFIER = Cirruscope
